@value smallBP from '../../SharedStyles/globalStyles.css';

/**
 * Header Styles
 */
.headerTop {
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
  z-index: 4;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  @media smallBP { padding: 0px 10px; }
}
