@value borderColor, secondaryFontColor, primaryFontColor, backShade from '../../SharedStyles/globalStyles.css';
@value smallBP from '../../SharedStyles/globalStyles.css';

/**
 * RichEditor styles
 */

.RichEditor_container {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid borderColor;
}

.RichEditor_readOnlyContainer {
  border: none;
}

.RichEditor_editorContainer {
  padding: 10px 10px;
  width: 100%;
  /*min-height: 60px;*/
  border-bottom: 1px solid borderColor;
  cursor: text;

  & :global .RichEditor_public-DraftEditorPlaceholder-root {
    position: absolute;
    color: secondaryFontColor;
  }
}

.RichEditor_readOnlyEditorContainer {
  padding: 0px;
  border-bottom: none;
}

.RichEditor_buttonClass {
  margin-top: 20px;
}

.RichEditor_newDiscussion { min-height: 300px; }


/**
 * Controls
 */
.RichEditor_controlsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid borderColor;
  @media smallBP { flex-direction: column-reverse; }
}

.RichEditor_controls {
  display: flex;
}

.RichEditor_controlButton {
  padding: 10px 10px;
  user-select: none;
  cursor: pointer;

  text-transform: uppercase;
  color: secondaryFontColor;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.5px;

  transition: color 0.3s;

  &:hover { color: primaryFontColor; }

  @media smallBP { padding: 5px 10px; }
}

.RichEditor_controlButtonActive {
  color: primaryFontColor;
}

/**
 * editor text styles
 */

.RichEditor_editorBlockquoteStyle {
  display: inline-block;
  position: relative;
  margin: 10px 0px 10px 20px;
  padding: 10px 20px;
  background-color: backShade;
  font-style: italic;
}

.RichEditor_editorBlockquoteStyle::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  left: 0px;
  top: 0px;
  background-color: borderColor;
}

.RichEditor_editorCodeStyle {
  margin: 0px;
  padding: 0px;
  line-height: 18px;
  overflow-x: hidden;
}

:global .RichEditor_public-DraftStyleDefault-pre {
  margin: 10px 0px;
  padding: 5px 5px;
  background-color: backShade;
  border: 1px solid borderColor;
}

.RichEditor_editorH1Style,
.RichEditor_editorH2Style,
.RichEditor_editorH3Style { color: #4c4c4c; }

.RichEditor_editorH1Style { font-size: 1.6em; }
.RichEditor_editorH2Style { font-size: 1.3em; }
.RichEditor_editorH3Style { font-size: 1.1em; }
