@value smallBP, mediumBP, largeBP from '../../SharedStyles/globalStyles.css';

/**
 * SideBar component styles
 */
.sidebarContainer {
  width: 250px;
  margin-left: 10px;
}

.addContainer {
  margin: 0 auto;
  width: 60%
}


.addContainer button:hover {
  opacity: 0.7
}

.FeedBox_sortList span:hover {
  opacity: 0.7
}
