@value borderColor, secondaryFontColor, primaryFontColor from '../../../SharedStyles/globalStyles.css';
@value smallBP from '../../../SharedStyles/globalStyles.css';

/**
 * Opinion styles
 */

.Opinion_container {
  font-size: .875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eee;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: .9375rem 20px;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  border-top-width: 0;
  border-bottom-width: 1px;
  font-weight: 300;
  border-bottom: 1px solid #e8e8e8;
  font-size: 1.063rem;
  padding: 12px 8px;
  vertical-align: middle;
  border-collapse: collapse;

  position: relative;
  margin-bottom: 10px;
  /*border-bottom: none;

  &:last-child { border-bottom: 1px solid borderColor; }*/

  & .Opinion_deletingOpinion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.Opinion_infoContainer {
  padding: 5px 0 0 15px;
  display: flex;
  align-items: center;

  & .Opinion_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50px;
  }

  & .Opinion_userInfo {
    margin-left: 10px;
    flex: 1;
    display: flex;

    & .Opinion_name {
      font-weight: 700;
      color: primaryFontColor;
      text-decoration: none;
    }

    & .Opinion_gitHandler {
      margin-left: 15px;
      text-decoration: none;
      color: secondaryFontColor;
      transition: color 0.3s;
      &:hover { color: primaryFontColor; }

      & .Opinion_gitIcon { margin-right: 5px; }
    }
  }

  & .Opinion_
    dateInfo {
    font-size: 13px;
    line-height: 13px;
    color: secondaryFontColor;
    @media smallBP { margin-left: 10px; }
  }

  & .Opinion_deleteButton {
    padding: 5px 10px;
    font-weight: normal;

    & .Opinion_trashIcon {
      margin-right: 5px;
      font-size: 16px;
    }
  }
}

.deleteButton i {
  margin-right: 10px;
}

.dateInfo {
  padding-right: 1em;
  color: #999;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  -webkit-tap-highlight-color: transparent;
  font-size: 12px;
  line-height: 22px;
  display: inline-flex;
}

.Opinion_opContent {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 26px;
}

.Opinion_commentFooter {
  display: flex;
  align-items: center;

  & .Opinion_favoriteButton {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    color: secondaryFontColor;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s;
    &:hover { color: primaryFontColor; }

    & i {
      font-size: 20px;
      margin-right: 10px;
    }
  }
}

.user_stats .FeedBox_container {
  margin-right: 15px;
  display: inline-table !important;
  width: inherit !important;
}

.user_stats .FeedBox_header {
  float: left;
  background: #79bc47;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(39, 176, 119, 0.4);
  margin-left: 0;
  height: 50px;
}

.user_stats .FeedBox_discussions {
  text-align: right;
  width: 200px;
}

.user_stats .FeedBox_title {
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  width: 80px;
}
