/* logo */
.BoardLogo_logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
}

.BoardLogo_logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.BoardLogo_logoTitle.rightMenuItem {
}

.rightMenu {
  position: absolute;
  right: 0;
  display: flex;
}

.BoardLogo_logoTitle {
  margin-left: 10px;
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
}

.BoardLogo_logoTitle_back{
  margin-left: 24px;
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 18px;
  color: #3c4858;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;

}
