/* logo */
.BoardLogo_logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.BoardLogo_logo {
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.BoardLogo_logoTitle {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 700;
}
