@value secondaryFontColor, backShade from '../../SharedStyles/globalStyles.css';

/**
 * Tag styles
 */

.Tag_tag {
  display: inline-block;
  height: 25px;
  margin-left: 10px;
  padding: 0 10px;
  background-color: backShade;
  color: secondaryFontColor;
  font-size: 12px;
  line-height: 25px;

  user-select: none;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
  background-color: #00cae3;
  color: #fff;

  &:first-child { margin-left: 0; }
}

.Tag_tagWithRemove {
  display: flex;
  align-items: center;
  padding-right: 0px;
}

.Tag_removeButton {
  padding: 4px 10px;
}
