@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~react-vis/dist/style';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.timelineGroup_wars {
  top: -20px;
}

.vis-item {
  //border-width: 0px !important;
}

.mapTimeline {
  margin-left: -40px;
  .vis-panel.vis-center {
    top: 30px !important;
    height: 100px !important;
    z-index: 5;
  }
}

.warContainer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vis-selected {
  //top: 5px!important;
}

.tsTicks {
  display: none
}

.vis-item:hover {
  .tsTicks {
    display: block
  }
}

.nofocus:focus {
  outline: none !important;
}

.signup-button:focus {
  outline: none !important;
}

div.vis-tooltip {
  //backgroundColor: theme.palette.grey[700],
  padding: 4px 8px !important;
  font-family: inherit !important;

  position: absolute;
  visibility: hidden;
  white-space: nowrap;

  font-size: 14px;
  color: #ddd !important;
  background-color: rgba(85, 85, 85, 0.85) !important;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0px solid #808074 !important;

  box-shadow: none;
  pointer-events: none;

  z-index: 5;
}

.vis-selected {
  .tsTicks {
    display: block !important
  }
}

.extendedTimeline {
  .timelineItem_ee {
    background-color: white !important;
    //border: 2px solid rgba(214, 0, 0, 0.2)
    border: 4px solid rgb(0, 140, 36) !important;
  }
  .timelineItem_ew {
    background-color: white !important;
    //border: 2px solid rgba(214, 0, 0, 0.2)
    border: 4px solid rgb(214, 0, 0) !important;
  }
  .vis-panel {
    &.vis-center {
      cursor: move;
      height: 400px !important;
    }
  }
}

.vis-item {
  //background: inherit;
  //background: transparent !important;
  cursor: pointer;

  &.timelineItem_war {
    border: 1px solid rgba(214, 0, 0, 0.2);
  }
  &.timelineItem_ee {
    border: 2px solid rgba(0, 140, 36, 0.2);
    &:hover {
      border-color: transparent;
      background: white !important;
      z-index: 1000;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    }
    &.vis-selected {
      border: 2px solid rgb(0, 140, 36) !important;
      background: white !important;
      z-index: 1000;
    }
  }
  &.timelineItem_ew {
    border: 1px solid rgba(122, 0, 0, 0.28);
    &:hover {
      border-color: transparent;
      z-index: 1000;
      background: white !important;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    }
    &.vis-selected {
      z-index: 1000;
      border: 1px solid rgb(214, 0, 0) !important;
      background: white !important;
    }
  }
  &.provinceTimelineItem {
    &:hover {
      //background-image: linear-gradient(#ffffff80,#f2f2f2) !important;
      border-color: transparent;
      background: white !important;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    }
  }
  &.timelineItem_ebio {
    border: 2px solid rgba(0, 128, 0, 0.2);
  }
  &.timelineItem_ec {
    border: 2px solid rgba(255, 165, 0, 0.2);
  }
  &.timelineItem_eo {
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  &.timelineItem_eb {
    background: transparent;
  }
  &.timelineItem_ei {
    pointer-events: none;
    border-color: transparent;
    &.vis-selected {
      border-color: transparent !important;
    }
  }
  &.timelineItem_ps {
    pointer-events: none;
    border-color: transparent;
    &.vis-selected {
      border-color: transparent !important;
    }
  }
  &.vis-line {
    display: none;
  }
  &.vis-dot {
    display: none;
  }
  &.vis-range {
    height: 30px;
    line-height: 15px;
    margin-top: 2px;
  }
}

.classReveal {
  opacity: 1 !important;
  &.modalMenu > div > div {
    overflow: auto !important;
  }
}

.accountContentStyle {
  > div {
    box-shadow: none !important;
  }
  position: fixed !important;
  top: 2em !important;
  bottom: 2em;
  padding-top: 34px !important;
  height: 100% !important;
  max-height: calc(100% - 4em) !important;
  overflow: auto;
}

.boardContentStyle {
  > div {
    background-color: #eee !important;
  }
  position: fixed !important;
  top: 2em !important;
  bottom: 2em;
  height: 100% !important;
  max-height: calc(100% - 4em) !important;
  overflow: auto;
}

.dialogImageBackgroundHack {
  top: 0;
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
}

.fullWikiArticle > div {
  height: 100%;
  > div {
    height: 100%;
    > div {
      height: 100%;
    }
  }
}

.dialogImageBackgroundHack > div > div {
  padding: 0 !important;
}

.dialogBackgroundHack {
  bottom: 60px;
  overflow: auto;
  top: 0px;
  position: fixed !important;
}

.dialogBackgroundHack::-webkit-scrollbar {
  width: 10px;
}

.dialogBackgroundHack::-webkit-scrollbar-thumb {
  background: rgba(203, 203, 203, 0.38);
}

.dialogBackgroundHack::-webkit-scrollbar-track {
  background: transparent;
}

.dialogBackgroundHack > div:first-child {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.closeTopRight {
  position: absolute !important;
  top: 1rem;
  right: 2rem;
}

.dragHandle > button > div > div {
  height: 24px !important;
}

.loadingBar {
  position: fixed !important;
  display: block;
  width: 100%;
  border-radius: 2px;
  margin: 0;
  overflow: hidden;
  z-index: 1000000;
  height: 6px !important;
  position: fixed;
  background-color: rgba(0, 0, 0, 0) !important;
  pointer-events: none;

  div {
    height: 4px !important;
    transition: width .5s ease-out, height .5s ease-out;
    box-shadow: 0 1px 2px 0 rgba(1, 2, 3, .4) !important;

    //background-color: rgb(212, 0, 18) !important;
    -webkit-transition: width 500ms ease-out, height 500ms ease-out;
    -moz-transition: width 500ms ease-out, height 500ms ease-out;
    -o-transition: width 500ms ease-out, height 500ms ease-out;
  }
}

.image-gallery-slides {
  ////position: absolute;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;
  //width: 70%;
  margin: 0 auto;
  cursor: pointer;
}

.image-gallery {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 512px;
  max-width: calc(2 * 512px);
  margin-left: auto;
  margin-right: auto;

}

.image-gallery-slide-wrapper {
  height: 512px;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  color: #fff;
  font-size: 1.4em;
  background-color: rgba(66, 66, 66, .54);
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  background: rgba(48, 48, 48, .5);
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 56px;
  width: 56px;
  margin: 0 56px 0 56px;
  min-width: 0;
  outline: none;
  padding: 0px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

button:focus {
  outline: 0px;
}

.image-gallery-fullscreen-button:hover:before, .image-gallery-left-nav:hover:before, .image-gallery-play-button:hover:before, .image-gallery-right-nav:hover:before {
  color: rgba(255, 255, 255, 0.69);
}

.image-gallery-slide {
  .image-gallery-bullets {
    bottom: 60px;
  }

  .image-gallery-description {
    top: 0px;
    bottom: inherit;
    padding: 2em;
    height: 160px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 100%);
  }
}

.notifications {
  z-index: 1000000; // notificaiton bredcrumb should always be on top
}

.linkedGalleryGridList > div:hover {
  .slideButtons {
    transition: opacity .5s;
    opacity: 1
  }
  img {
    transition-timing-function: ease-in-out;
    transition: transform 35s;
    //transform: scale(1) translateY(-50%) !important;
    margin: 0 auto;
    transform: scale(4) translateX(0%) translateY(0%) !important;
  }
}

.react-swipeable-view-container > div > div > div > div:hover {
  .slideButtons {
    transition: opacity .5s;
    opacity: 1
  }
  img {
    transition-timing-function: ease-in-out;
    transition: transform 35s;
    //transform: scale(1) translateY(-50%) !important;
    margin: 0 auto;
    transform: scale(4) translateX(0%) translateY(0%) !important;
  }
}

.react-swipeable-view-container, .linkedGalleryGridList {
  .slideButtons {
    opacity: 0
  }
}

.bottomNavigationItem:hover {
  background: #cbcdce7a !important
}

.articleHeader {
  width: 100%;
  padding-right: 102px !important;
  > div {
    width: 100%;
    margin-top: 0 !important
  }
}

.influenceChart {
  cursor: pointer
}

.create-page > div {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 6px -3px inset;
}

.simple-form {
  background: #e8e8e8;
  height: 100%;
  width: 100%;
  position: absolute;
}

.dragHandle.markerHandle {
  left: 40px !important;
  box-shadow: -2px 2px 6px 3px rgba(0, 0, 0, .3) !important;
  border-top-right-radius: 40px !important;
  width: 30px !important;
  height: 30px !important;
  top: calc(100% - 20px) !important;
  margin-left: -50px !important;

  div {
    box-shadow: none !important;
  }
  svg {
    transform: rotate(-45deg) !important;
    width: 40px !important;
    height: 40px !important;
    margin-left: -10px !important;
  }
  button {
    margin-left: -10px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    cursor: nesw-resize !important;
  }
}

.dragHandle.markerHandle > button > div > div {
  border-top-right-radius: 40px !important;
  width: 30px !important;
  height: 30px !important;
  top: calc(100% - 22px) !important;
  margin-left: 10px !important;
}

@keyframes rightFadeIn {
  0% {
    position: absolute;
    right: -20%;
    opacity: 0.4;
  }

  100% {
    position: absolute;
    right: 20%;
    opacity: 1;
  }
}

.loadingPage {
  .splash_description {
    white-space: nowrap;
    font-size: 2rem;
    position: absolute;
    bottom: 20%;
    right: 20%;
    opacity: 1;
    transition-timing-function: ease;
    animation-name: rightFadeIn;
    animation-duration: 10s;
    color: #ffffff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 20px 9px rgba(0, 0, 0, 0.5), inset 1px 1px 20px 20px rgba(0, 0, 0, 0.5);
  }
}

.mapboxgl-popup-content {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  //font-family: Cinzel, serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px, rgba(0, 0, 0, 0.4) 0px 2px 4px -1px;
  border-radius: 2px;
}

.mapHoverTooltip.inactive {
  cursor: pointer !important;

  .mapboxgl-popup-content {
    pointer-events: none !important;
  }
}

.mapHoverTooltip.interactive {
  width: 340px;
  max-height: 496px;
  overflow: hidden;

  .mapboxgl-popup-content {
    cursor: pointer !important;
    pointer-events: all !important;
  }
}

//variables
$spin-speed: 1s;
//the more time, the slower it spins

//#LoadingCircle_svg2 {
//  -webkit-filter: drop-shadow( 0px 2px 2px #333 );
//  filter: drop-shadow(0 0px 2px #333)
//}

#LoadingCircle_g_logoCircle {
  fill: #333
}

.LoadingCircle_loading {
  animation: blinkingText $spin-speed infinite;
  animation-timing-function: ease-in-out;
  font-size: 18px;
  color: #333;
  text-align: center;
  width: calc(100% - -28px);
  margin-top: -4%;
}

@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.LoadingCircle_wrapper {
  overflow: visible;
  text-align: center;
  height: 100%;
  width: 100%;
}

.LoadingCircle_inner {
  overflow: hidden;
  width: 100%;
  margin-top: 15%;
  display: inline-block;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg.LoadingCircle_rotate {
  animation-name: rotate;
  animation-duration: $spin-speed;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.logoChronas {
  width: 24px;
  height: 24px;
  fill: red;
}

.logoMenuContainer.lightTheme {
  svg {
    g {
      fill: #1f1f1f;
    }
  }
}

.logoMenuContainer.defaultTheme {
  svg {
    g {
      fill: #1f1f1f;
    }
  }
}

.logoMenuContainer.dark {
  svg {
    g {
      fill: #F2F2F2;
    }
  }
}

.logoMenuContainer.lutherTheme {
  svg {
    g {
      fill: #fff3d3;
    }
  }
}

.dropdownAvatarMenu > div > div {
  padding-left: 0 !important;
  border: 0 !important;
}

.listAvatar {
  padding-bottom: 2px;
  img {
    border-radius: 50%;
    //color: rgb(242, 242, 242);
    //background-color: rgb(179, 179, 179);
    //user-select: none;
    //display: inline-flex;
    //align-items: center;
    //justify-content: center;
    //font-size: 20px;
    //border-radius: 50%;
    //height: 40px;
    //width: 40px;
    //position: absolute;
    //top: 8px;
    //left: 16px;
  }

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.areaTable {
  td {
    overflow: initial !important;
  }
}

.iconImage {
  height: initial !important;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tsTicks {
  //border-right: 1px solid #42adec;
  position: absolute;
  height: 36px;
  margin-top: -30px;
}

.vis-item .vis-item-overflow {
  overflow: visible !important;
}

div.vis-tooltip {
  overflow: visible !important;
}

.EmbeddedArrayInputItemContainer {
  div:first-child {
    width: 70% !important;
  }
  div:last-child {
    float: right;
  }
}

.discoveryIcon:hover {
  opacity: 1;
}

.warIcon {
  margin-right: 0;
  height: 16px;
  width: 16px;
  background: url(/images/abstract-atlas.png) -1px -460px;
  background-size: 60px 119px;
  margin-top: -36px;
  margin-left: -7px;

  &.tsTicks {
    display: inherit
  }

  &.timelineTooltipIcon {
    margin: 0;
    opacity: 1;
  }
}

.esIcon1 {
  pointer-events: all;
  margin-right: 0;
  height: 15px;
  width: 8px;
  background: url(/images/abstract-atlas.png) -26px -460px;
  background-size: 90px 119px;
  margin-top: -39px;
  margin-left: -7px;
  opacity: 0.6;
}

.esIcon2 {
  pointer-events: all;
  margin-right: 0;
  height: 15px;
  width: 8px;
  background: url(/images/abstract-atlas.png) -28px -460px;
  background-size: 70px 119px;
  margin-top: -39px;
  margin-left: -7px;
  opacity: 0.6;
}

.esIcon {
  margin-right: 0;
  height: 16px;
  width: 16px;
  background: url(/images/abstract-atlas.png) -56px -442px;
  background-size: 74px 119px;
  margin-top: -36px;
  margin-left: -7px;
  opacity: 0.6;
}

.esIcon, .esIcon1, .esIcon2 {

  &.tsTicks {
    display: inherit
  }

  &.timelineTooltipIcon {
    margin: 0;
    opacity: 1;
  }

  &.articleEpic {
    margin: 0;
    margin-top: 4px;
    opacity: 1;
    height: 40px;
    width: 30px;
    background: url(/images/abstract-atlas.png) -60px -169px;
    background-size: 120px 236px;
  }
}

.warContainer {
  .discoveryIcon {
    -webkit-filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
  }
}

.rv-crosshair__inner {
  .discoveryIcon {
    margin-top: -360px;
    pointer-events: all;
    cursor: help;
    opacity: 1;
  }
  .discoveryIcon:hover {
    opacity: 0.7;
    -webkit-filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
  }
}

.rv-crosshair__inner {
  .warIcon {
    pointer-events: all;
    cursor: help;
    margin-top: -70px;
    opacity: 1;
  }
  .warIcon:hover {
    opacity: 0.7;
    -webkit-filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
  }
}

.rv-crosshair__inner {
  .battleIcon1, .battleIcon2 {
    cursor: help;
    opacity: 1;
  }
  .battleIcon1:hover, .battleIcon2:hover {
    opacity: 0.7;
    -webkit-filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
    filter: drop-shadow(rgb(0, 0, 0) 0px 0px 2px);
  }
}



.discoveryIcon {
  pointer-events: all;
  margin-right: 0;
  height: 20px;
  width: 16px;
  background: url(/images/abstract-atlas.png) -30px -322px;
  background-size: 60px 119px;
  margin-top: 9px;
  margin-left: -7px;
  opacity: 0.6;

  &.tsTicks {
    display: inherit
  }

  &.timelineTooltipIcon {
    margin: 0;
    opacity: 1;
  }

  &.articleEpic {
    margin: 0;
    margin-top: 6px;
    opacity: 1;
    height: 40px;
    width: 30px;
    background: url(/images/abstract-atlas.png) -60px -169px;
    background-size: 120px 236px;
  }
}

.battleIcon1 {
  margin-right: 0em;
  margin-left: 32.06349206349206%;
  height: 38px;
  width: 15px;
  background: url(/images/abstract-atlas.png) -30px -200px;
  background-size: 121px 278px;
}

.battleIcon2 {
  margin-right: 0em;
  margin-left: 75%;
  height: 38px;
  width: 15px;
  background: url(/images/abstract-atlas.png) -45px -200px;
  background-size: 121px 278px;
}

.battleIcon1, .battleIcon2 {
  pointer-events: all;
  z-index: 2000000;
  cursor: help;
}

.timelineIconSmall {
  margin-top: 112px
}

.timelineIconBig {
  margin-top: 168px
}

.timelineIconBig, .timelineIconSmall {
  z-index: 1000000;
  .rv-crosshair__line {
    width: 0px !important;
  }
}

.rv-treemap__leaf__content {
  font-weight: bolder;
  font-size: 16px;
}

.customLink {
  cursor: pointer;
  &:hover {
    opacity: 0.6
  }
}

.social-signup-buttons {
  display: table;
  margin-bottom: 20px;
  margin-left: -5px;
  margin-right: -5px;
  table-layout: fixed;
  width: 100%;

  .signup-button {
    display: table-cell;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;

    .entypo-social {
      font-size: 40px;
      vertical-align: middle;
    }

    .btn {
      position: relative;
    }
    .btn:hover,
    .btn:focus {
      top: -1px;
    }
    .btn:active {
      top: 1px;
    }
  }
}

.signup-button {
  .signupBig {
    font-size: 60px !important;
  }
}

.signup-button__text {
  padding: 0px 0px 30px 10px;

  display: none;
}

@media (min-width: 1200px) {
  .signup-button__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
  }
}

.auth-form-divider {
  color: '#999';
  margin-bottom: 1.5em;
  margin-top: 1em;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &:after {
    background-color: '#eee';
    content: "";
    left: 0;
    top: 50%;
    position: absolute;
  }
}

.auth-form-divider-text {
  //background-color: @body-bg;
  display: inline-block;
  padding: 0 1em;
  position: relative;
  z-index: 1;

  .modal & {
    background-color: white;
  }
}

.auth-form {
  .form-groups {
    margin-bottom: 1em;
  }
  .form-group {
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 0;
    box-shadow: none;
    height: auto;
    margin-top: -1px;
    padding-bottom: .75em;
    padding-top: .75em;
    -webkit-appearance: none;

    &:focus {
      //box-shadow: 0 0 5px -2px fade(@link-color, 60%), 0 1px 2px '#999'er;
      position: relative;
    }
  }
  //.form-control--first {
  //  .border-top-radius( 4px );
  //}
  //.form-control--last {
  //  .border-bottom-radius( 4px );
  //}
}

// social links

.btn-link-github {
  color: #242a2e;
  &:hover {
    color: #242a2e;
    opacity: 0.5;
  }
}

.btn-link-facebook {
  color: #4267b2;
  &:hover {
    color: #4267b2;
    opacity: 0.5;
  }
}

.btn-link-google {
  color: #ea4735;
  &:hover {
    color: #ea4735;
    opacity: 0.5;
  }
}

.btn-link-twitter {
  color: #1ea1f2;
  &:hover {
    color: #1ea1f2;
    opacity: 0.5;
  }
}

.searchEpicContainer {
  hr {
    bottom: 2px !important;
  }
}

//
//.searchEpicContainer:hover {
//  .searchEpicClass {
//    display: block !important;
//  }
//}

.bottomNavigationItem img {
  object-fit: cover;
}

.displayed-records {
  white-space: nowrap;
}
