@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.classReveal {
  opacity: 1 !important;
}

.dialogBackgroundHack > div:first-child {
  background-color: rgba(0,0,0,0) !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
