@value primaryFontColor, secondaryFontColor, borderColor from '../../../SharedStyles/globalStyles.css';
@value smallBP from '../../../SharedStyles/globalStyles.css';

/**
 * NavigationBar styles
 */

.NB_navigationBar {
  border-top: 1px solid borderColor;
  border-bottom: 1px solid borderColor;
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;

  @media smallBP { padding: 0px 10px; }
}

.NB_links {
  display: block;
  user-select: none;
  transition: color 0.3s;

  position: relative;
  color: inherit;
  height: 50px;
  font-size: 1.125rem;
  line-height: 30px;
  padding: .625rem 0;
  font-weight: 300;
  margin-left: 1rem;
}

.NB_links:hover { color: primaryFontColor; }

.NB_linkActive {
  color: primaryFontColor;
  background-color: #f9f9f9;
}
