apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: chronas-map
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: chronas-map
    spec:
      containers:
      - name: chronas-map
        image: aumanjoa/chronas-map:216
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: chronas-map
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: chronas-map      
