/** Timeline Overwrites **/
.vis-timeline.vis-bottom {
  .vis-panel.vis-bottom {
    top: 24px!important;
    pointer-events: none;
  }
}

.discoverActive {
  z-index: 10000;
  position: absolute;
}

.vis-timeline {
  border: none;
  position: fixed;
  bottom: -46px !important;
  height: 120px !important;

}

.vis-custom-time {
  &.selectedYear {
    transition: left 100ms cubic-bezier(0.4, 0, 0.2, 1), right 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  background-color: #FF7F6E;
  width: 4px;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-top {
  height: 24px;
}

.vis-text.vis-minor {
  padding-left: 14px;
  padding-top: 24px;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top {
  border: 2px #ffffff;
}
