/** Timeline Overwrites **/
.vis-timeline.vis-bottom {
  transition: all .5s;
  transition-timing-function: ease-in-out;
  .vis-panel.vis-bottom {
    top: 62px!important;
    pointer-events: none;
  }
}

.ProvinceTimeline {
  > div {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -2em;
    margin-bottom: -2em;
  }

  .vis-timeline {
    cursor: ew-resize;
    visibility: visible !important;
    border: none;
  }
}

.provinceTimelineItem{
  cursor: pointer;
  //background: inherit !important;
}

.vis-item {
  &.vis-box {
    //border: none;//2px solid rgba(214, 0, 0, 0.4);
    background: inherit;
  }
  &.vis-range {
    background: inherit;
  }}
.entityTimelineItem {
  cursor: pointer;
  border-radius: 30px !important;
  border-color: transparent !important;
}

.entityTimelineItem:hover {
  opacity: 0.8;
}

.discoverActive {
  z-index: 10000;
  position: absolute;
}

.mapTimeline { .vis-timeline {
  cursor: ew-resize;
  border: none;
  position: fixed;
  bottom: -8px !important;
  //height: 120px !important;
  width: 100%;
  max-height: 90% !important;
}}

.vis-panel {
  &.vis-center {
    cursor: ew-resize;
  }
}

.mapTimeline {

  .vis-time-axis .vis-grid.vis-vertical {
    position: absolute;
    border-left: 1px solid;
    top: 56px !important;
    border-color: #e5e5e5;
  }

  .vis-panel {
    &.vis-background {
    &.vis-horizontal {
      top: 9px !important;
    }
  }
}
  .vis-timeline {
  //height: 500px !important; // !important;
}}

.vis-custom-time {
  &.selectedYear {
    z-index: 2;
    transition: left 100ms cubic-bezier(0.4, 0, 0.2, 1), right 100ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  background-color: #FF7F6E;
  width: 4px;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-top {
  height: 24px;
}

.mapTimeline {

  .vis-text {
    text-shadow: 0.03em 0 4px #fff, 0.03em 0 4px #fff;
    font-weight: 600;
  }

  .vis-panel {
    &.vis-center {
      pointer-events: all;
    }
  }

  .vis-timeline {
    &.vis-bottom {
      pointer-events: none;
    }
  }
}

.vis-text.vis-minor {
  padding-left: 14px;
  padding-top: 24px;
}

.vis-panel.vis-bottom, .vis-panel.vis-center, .vis-panel.vis-left, .vis-panel.vis-right, .vis-panel.vis-top {
  border: 2px #ffffff;
}
.rv-xy-plot {
  overflow: hidden;
}


.currentYearMarker {
  .rv-crosshair__line {
    background: #ff7f6e;
    width: 4px;
  }

  .rv-crosshair__inner__content {
    border-radius: 0;
    background: #ffffff94;
    border: solid 1px #ff7f6e;
    color: #000000ba;
    font-size: 12px;
    padding: 7px 10px;
    box-shadow: none;
  }

  .rv-crosshair__inner.rv-crosshair__inner--right {
    .rv-crosshair__inner__content {
      margin-left: -2px;
    }
  }

  .rv-crosshair__inner.rv-crosshair__inner--left {
    .rv-crosshair__inner__content {
      margin-right: -2px;
    }
  }
}
.rv-crosshair { &.undefined { position:fixed }}

.startMarker, .endMarker {
  .rv-crosshair__line {
    background: #609cff;
    width: 4px;
  }

  .rv-crosshair__inner__content {
    display: none;
  }

  .rv-crosshair__inner.rv-crosshair__inner--right {
    .rv-crosshair__inner__content {
      margin-left: -2px;
    }
  }

  .rv-crosshair__inner.rv-crosshair__inner--left {
    .rv-crosshair__inner__content {
      margin-right: -2px;
    }
  }
}

.currentYearLabel {
  pointer-events: all;
  background: none;
  text-shadow: 0.03em 0 4px white, 0.03em 0 4px white, 0.03em 0 4px white, 0.03em 0 4px white;
  border: 0;
  font-size: 24px;
  cursor: text;
  padding: 12px;
  z-index: 1000;
}

.searchForm {
  outline: 0 !important;
  background: #222;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 5900000;
}

.searchForm__close {
  outline: 0 !important;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  padding: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 1;
}

.searchForm__form {
  outline: 0 !important;
  left: 50%;
  padding-left: 60px;
  padding-right: 60px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
}

.searchForm__icon {
  outline: 0 !important;
  background: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 1.5625rem;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 70px;
}

.searchForm__input {
  outline: 0 !important;
  color: #919191;
  font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
  font-style: normal;
  font-weight: 600;
  background: transparent;
  border: 0;
  border-bottom: 1px solid gray;
  cursor: text;
  font-size: 60px;
  letter-spacing: .2em;
  line-height: normal;
  padding: 0 60px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.search-form-kettle .searchForm__input {
  outline: 0 !important;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1.167;
  letter-spacing: 4px;
}

.dimsTooltip {
  transform: translate(0%, -50%) !important;
  margin-left: 1em;

  .mapboxgl-popup-content {
    opacity: 0.8;
    border: none;
    box-shadow: none;
    background: transparent;
    text-shadow: 0.03em 0 6px white, 0.03em 0 6px white, 0.03em 0 6px white, 0.03em 0 6px white;
    //top: 90px;
    //left: 50%;
    //margin-top: 40px;
    //position: relative;
  }
  .mapboxgl-popup-tip {
    display: none
  }

  .chipAvatar {
   > div {
     height: 24px !important;
     width: 24px !important;
   }
  }

  img {
    height: 24px !important;
    width: 24px !important;
    object-fit: cover;
  }

  span {
    height: 24px !important;
    font-weight: bolder !important;
    line-height: 24px !important;
  }
}

.mapTimelineIcons {
  width: inherit !important;
}
