@value borderColor, secondaryFontColor, primaryFontColor from '../../SharedStyles/globalStyles.css';

/**
 * Button styles
 */

/* resetting all default button styles */
BoardButton_button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.BoardButton_buttonDefaults {
  color: #fff;
  position: relative;
  padding: 12px 30px;
  margin: .3125rem 1px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.428571;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: .2rem;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
  will-change: box-shadow,transform;
  background-color: #9c27b0;
  border-color: #9c27b0;
  box-shadow: 0 2px 2px 0 rgba(156,39,176,.14), 0 3px 1px -2px rgba(156,39,176,.2), 0 1px 5px 0 rgba(156,39,176,.12);
}

.BoardButton_default {
  color: secondaryFontColor;
  transition: color 0.3s;
  &:hover { color: primaryFontColor; }
}

.BoardButton_outline {
  color: secondaryFontColor;
  border: 1px solid borderColor;
  transition: color 0.3s, border 0.3s;
  &:hover {
    color: primaryFontColor;
    border: 1px solid secondaryFontColor;
  }
}

.BoardButton_fullWidth { width: 100%; }
.BoardButton_noUppercase { text-transform: none; }
.BoardButton_alwaysActive {
  color: primaryFontColor;
  border-color: primaryFontColor;
}
