@value primaryFontColor, secondaryFontColor from '../../../SharedStyles/globalStyles.css';

.UserProfile_container {
  display: flex;
  align-items: center;
}

.UserProfile_avatarContainer {
  & .UserProfile_avatar {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
}

.UserProfile_infoContainer {
  margin-left: 20px;
  letter-spacing: 0.5px;

  & .UserProfile_name { font-size: 24px; margin-bottom: 10px; }
  & .UserProfile_gitHandler { font-size: 14px; font-weight: bold; }
  & .UserProfile_location { font-size: 14px; }
  & .UserProfile_website {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
    }
}
